In [129]:
import pandas as pd

In [130]:
dataset=pd.read_csv(r"C:\Users\wwrao\Downloads\cars.csv")
dataset.head()

     brand  km_driven    fuel         owner  selling_price
0   Maruti     145500  Diesel   First Owner         450000
1    Skoda     120000  Diesel  Second Owner         370000
2    Honda     140000  Petrol   Third Owner         158000
3  Hyundai     127000  Diesel   First Owner         225000
4   Maruti     120000  Petrol   First Owner         130000

In [131]:
dataset1=pd.get_dummies(dataset[["brand","fuel","owner"]],drop_first=True)
dataset1

,brand_Ashok,brand_Audi,brand_BMW,brand_Chevrolet,brand_Daewoo,brand_Datsun,brand_Fiat,brand_Force,brand_Ford,brand_Honda,...,brand_Toyota,brand_Volkswagen,brand_Volvo,fuel_Diesel,fuel_LPG,fuel_Petrol,owner_Fourth & Above Owner,owner_Second Owner,owner_Test Drive Car,owner_Third Owner
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,True,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,True,False,False,False,True,False,False
2,False,False,False,False,False,False,False,False,False,True,...,False,False,False,False,False,True,False,False,False,True
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,True,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,True,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8123,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,True,False,False,False,False
8124,False,False,False,False,False,False,False,False,False,False,...,False,False,False,True,False,False,True,False,False,False
8125,False,False,False,False,False,False,False,False,False,False,...,False,False,False,True,False,False,False,False,False,False
8126,False,False,False,False,False,False,False,False,False,False,...,False,False,False,True,False,False,False,False,False,False
8127,False,False,False,False,False,False,False,False,False,False,...,False,False,False,True,False,False,False,False,False,False

In [132]:
from sklearn.model_selection import train_test_split

In [133]:
x_train,x_test,y_train,y_test=train_test_split(dataset.drop(columns=["selling_price"],axis=1),dataset["selling_price"])

In [134]:
x_test

        brand  km_driven    fuel         owner
6720     Jeep      14000  Diesel   First Owner
4959   Maruti      80000  Petrol   First Owner
3603  Hyundai      35000  Diesel  Second Owner
5326   Maruti     120000  Diesel  Second Owner
4666  Hyundai      70000  Petrol   Third Owner
...       ...        ...     ...           ...
5622    Honda      56494  Petrol   First Owner
532    Maruti      40000  Petrol  Second Owner
3508   Maruti     577414  Petrol  Second Owner
4395    Isuzu      10000  Diesel   First Owner
4001     Fiat     120000  Diesel   First Owner

[2032 rows x 4 columns]

In [135]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import OrdinalEncoder

In [136]:
transformer=ColumnTransformer(transformers=[
    ("t1",OneHotEncoder(sparse_output=False,drop="first",dtype=int),["brand"]),
    ("t2",OneHotEncoder(sparse_output=False,drop="first",dtype=int),["fuel"]),
    ("t3",OneHotEncoder(sparse_output=False,drop="first",dtype=int),["owner"])
],remainder="passthrough")

In [137]:
transformer

ColumnTransformer(remainder='passthrough',
                  transformers=[('t1',
                                 OneHotEncoder(drop='first',
                                               dtype=<class 'int'>,
                                               sparse_output=False),
                                 ['brand']),
                                ('t2',
                                 OneHotEncoder(drop='first',
                                               dtype=<class 'int'>,
                                               sparse_output=False),
                                 ['fuel']),
                                ('t3',
                                 OneHotEncoder(drop='first',
                                               dtype=<class 'int'>,
                                               sparse_output=False),
                                 ['owner'])])

In [138]:
b=transformer.fit_transform(x_train)
a=transformer.fit_transform(x_test)

In [139]:
pd.DataFrame(b,columns=dataset1.columns)

,brand_Ashok,brand_Audi,brand_BMW,brand_Chevrolet,brand_Daewoo,brand_Datsun,brand_Fiat,brand_Force,brand_Ford,brand_Honda,...,brand_Toyota,brand_Volkswagen,brand_Volvo,fuel_Diesel,fuel_LPG,fuel_Petrol,owner_Fourth & Above Owner,owner_Second Owner,owner_Test Drive Car,owner_Third Owner
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,10000
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,30000
2,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,100000
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,28000
4,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,1,0,0,0,0,40000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6091,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,29000
6092,0,0,0,0,0,0,0,0,1,0,...,0,0,0,0,1,0,0,0,0,1303
6093,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,1,0,0,80000
6094,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,10000
6095,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,1,0,0,0,0,49900